/* Revamped Cascading Style Sheet for Jordan Choi Portfolio V4.0 */
/* Generic CSS to apply to ALL styles */

/* Mobile Menu */
#mobile-menu {
    position: fixed;
    top: 40px;
    right: 40px;
    width: 32px;
    display: none;
}

#mobile-menu img {
    width: 32px;
}

.overlay {
    position: fixed;
    z-index: 5;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    width: 0;
    overflow-x: hidden;
    transition: 0.3s;
}

.overlay-menu {
    position: relative;
    text-align: center;
    margin-top: 40px;
    width: 100%;
    top: 30%;
}

.overlay a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: block;
    transition: 0.3s;
}

.overlay a:focus, .overlay a:hover {
    color: #f1f1f1;
}

.overlay .toggleCloseBtn {
    position: absolute;
    top: 20px;
    right: 2px;
    font-size: 20px;
}

* {
    scroll-behavior: smooth;
    font-family: Maven Pro, Source Sans Pro, 'sans-serif';
}

.gold {
    color: gold;
}

body {
    color: #000000;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, 'sans-serif';
    font-weight: 600;
    letter-spacing: 2px;
}

p {
    font-size: 14px;
    color: #fff;
}

.biography p, .projectwork p, .work-contents p {
    color: black;
}

h2 {
    margin-block-start: 0px;
    padding: 5vw 0vw 0vw 5vw;
    color: white;
}

footer {
    height: 60px;
    background-color: #08003E;
    color: #fff;
    text-align: center;
}

footer p {
    margin-block-start: 0px;
    line-height: 60px;
}
.scroll-to-top {
    position: fixed;
    bottom: 65px;
    right: 39px;
    width: 45px;
    height: 45px;
    background-color: gold;
    opacity: 0.2;
    border-radius: 5px;
}

.scroll-to-top:hover {
    opacity: 1;
}

.scroll-to-top img {
    width: 32px;    
}

#back-to-top {
    width: 45px;
    height: 45px;
    display: block;
    text-align: center;
    position: relative;
    top: 5px;
}

header {
    padding-top: 10px;
}

/* Background of Sections */

.profile {
    background: url("images/profile-bg.jpg") no-repeat fixed center;
}

.projects {
    background: url("images/project-bg.jpg") no-repeat fixed center;
}

.education {
    background: url("images/edu-bg.jpg") no-repeat fixed center;
    color: white;
}

.skills-section {
    background: url("images/skills-bg.jpg") no-repeat fixed center;

}

.works {
    background: url("images/work-bg.jpg") no-repeat fixed center;
}

.contact {
    background: url("images/contact-bg.jpg") no-repeat fixed center;
}

.profile, .projects, .education, .skills-section, .works, .contact {
    min-height: 100vh;
    background-size: cover;
}
/* Profile Section */
.dp {
    position: absolute;
    left: -110px;
    top: 100px;
    width: 25%;
    max-width: 150px;
}

.biography {
    width: 45%;
    max-width: 1200px;
    height: auto;
    background-color: rgba(255,255,255,0.6);
    color: black;
    padding: 25px 45px 25px 120px;
    filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.61));
}
.content ul {
    list-style-type: none;
    align-self: center;
    padding-bottom: 20px;
}

.content ul li {
    margin: 8px 0px;
}

.social-media img {
    max-width: 40px;
    width: 100%;
    height: auto;
}

/* Projects Section */
.project-content {
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 9vw 5vw 5vw 5vw;
}

.projectwork {
    width: 23%;
    max-height: 360px;
    height: auto;
    max-width: 320px;
    margin: 5px auto;
    background-color: rgba(255,255,255, 0.8);
    text-align: center;
    color: black;
    padding: 5px;
}

.projectwork h3 {
    font-size: 14px;
}
.projectwork img {
    width: 100%;
}

/* Education Section */
.education h4 {
    color: white;
}

.edu-content {
    flex-flow: row wrap;
    text-align: center;
    padding: 4vw 5vw 5vw 5vw;
    justify-content: center;
}

.institute {
    width: 24.5%;
    height: 100%;
}

.edu-content img {
    width: 100%;
    max-width: 100px;
    height: auto;
}

.achievements {
    text-align: center;
    margin-top: 20px;
    padding: 0vw 5vw 5vw 5vw;
    justify-content: center;
}

.achievements div {
    width: 100%;
}

.achievements h4 {
    font-size: 14px;
}

/* Skills Section */
.skills-content {
    color: white;
    padding: 5vw 5vw 5vw 5vw;
}

.left, .right {
    width: 45%;
    margin: 40px;
}

.box {
    width: 100%;
    background-color: #bdbdbd;
    flex-flow: row wrap;
    border-radius: 2px;
}

.skills {
    color: #F4C547;
    font-size: 12px;
    border-radius: 2px;
}

.html {
    width:80%;
    background-color: #F4C547;
}

.css {
    width: 60%;
    background-color: #F4C547;
}

.js {
    width: 45%;
    background-color: #F4C547;
}

.php {
    width: 25%;
    background-color: #F4C547;
}

.jquery {
    width: 25%;
    background-color: #F4C547;
}

.python {
    width: 55%;
    background-color: #F4C547;
}

.csharp {
    width: 25%;
    background-color: #F4C547;
}

.adobe {
    width: 70%;
    background-color: #F4C547;
}

/* Works Section */

.work-contents {
    padding: 4vw 5vw 5vw 5vw;
    flex-flow: row nowrap;
    justify-content: center;
}

.work-contents div {
    width: 30%;
    min-height: 380px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: .8em;
    background-color: #ededed;
    border-radius: 10px;
    filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.61));
}

.work-contents div > p, ul li {
    text-align: left;
    font-size: 13px;
}

.work-contents img {
    width: 100%;
    max-width: 120px;
    height: auto;
}

/* Contact Section */

.contact-content {
    padding: 10vw 7vw 5vw 7vw;
    flex-flow: row wrap;
    justify-content: space-around;
}

.form-container {
    display: flex;
    width: 40%;
    background-color: grey;
    height: 400px;
    margin-right: 10%;
}

.form-container form {
    background-color: white;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: 280px;
    padding: 20px;
    top: 45px;
    left: 55px;
    position: relative;
    filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.21));
}

input {
    height: 30px;
    width: 40%;
    max-width: 200px;
    padding: 5px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #E4E4E4;
    border: none;
}

textarea {
    width: 88%;
    background-color: #e4e4e4;
    margin-left: 2%;
    border: none;
}

#submit, #reset {
    background-color: #08003E;
    color: white;
    width: 42%;
    margin: 2%;
}

.content-container {
    width: 48%;
    color: white;
    flex-flow: column;
}

.content-container h3 {
    font-size: 28px;
}

.content-container ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-inline-start: 0; 
    margin-top: 15px;
    position: relative;
}

.contact-content .social-media img {
    width: 100%;
    max-width: 40px;
    height: auto;
    margin-left: 0;
    padding-left: 0;
}

.content-container ul li {
    display: flex;
    text-align: left;
    margin: 10px;
}

.contact-element a {
    color: white;  
    margin-left: 10px;
    top: -10px;
    font-size: 13px;
    position: relative;
}

.contact-element {
    max-width: 100%;
    margin-top: 20px;
}

.contact-element p {
    display: inline-block;
    margin-left: 10px;
    vertical-align: text-bottom;
}

.contact-element img {
    width: 100%;
    max-width: 30px;
    height: auto;
}

nav {
    width: 100%;
    margin-right: 50px;
    min-width: 480px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    flex-shrink: 1;
    z-index: 2;
}

nav ul {
    list-style-type: none;
    display: inline-block;
}

nav ul li {
    display: inline-block;
}

nav li a {
    text-decoration: none;
    margin: 0px 10px;
    font-size: 14px;
    font-family: Montserrat, 'sans-serif';
    font-weight: 600;
    height: 25px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
}

nav li a:hover {
    color: gold;
    border-bottom: 4px solid white;
}

header img {
    margin-left: 100px;
    max-width: 130px;
}

.content ul {
    flex-flow: column wrap;
}

/* For ease of reuse */
.flex {
    display: flex;
}

.content {
    justify-content: center;
    padding-top: 70px;
    display: flex;
    flex-flow: row wrap;
}

/* Mobile */
@media only screen and (max-width: 768px) {
    #mobile-menu {
        display: block;
    }
    h2 {
        font-size: 20px;
        padding: 40px;
    }

    .scroll-to-top, nav {
        display: none;
    }

    header {
        justify-content: center;
    }
    header img {
        width: 100px;
        margin: 0;
    }
    .content {
        flex-flow: column wrap;
        justify-content: center;
        align-items:center;
    }

    .biography h1 {
        margin-top: -40px;
    }

    .dp {
        position: relative;
        display: flex;
        text-align: center;
        max-width: 150px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        top: -50px;
        left: 0;
    }

    .content ul {
        justify-content: center;
        padding-left: 0px;
        flex-flow: row wrap;
    }
    .content ul li {
        margin: 10px 8px;
    }

    /* Section 1 - Profile */
    .biography {
        width: 80%;
        padding: 20px;
        text-align: center;
    }

    /* Section 2 - Projects */

    .projectwork {
        width: 46%;
    }

    /* .project-content {
        padding: 15px 10px 50px 10px;
    } */

    /* Third Section - Education & Achievements */
    .edu-content {
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
    }

    .edu-content div{
        width: 100%;
    }

    .edu-content img {
        width: 100%;
        max-width: 130px;
        height: auto;
    }

    .achievements {
        justify-content: center;
        flex-flow: row wrap;
        display: flex;
        text-align: center;
    }

    .achievements div {
        width: 100%;
    }

    .achievements h4 {
        font-size: 14px;
    }

    /* Forth Section - Skills */

    .skills-content {
        flex-flow: row wrap;
    }

    .left, .right {
        width: 100%;
        margin: 0px;
    }

    /* Fifth Section - Works */
    .works {
        height: 100%;
    }
    
    .work-contents {
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 0px;
    }

    .work-contents div {
        width: 60%;
        padding: 40px;
        height: 100%;
        margin: 10px;
    }

    /* Last Section - Contact */
    .contact {
        height: 100%;
    }

    .contact-content {
        flex-flow: column-reverse wrap;
        justify-content: space-around;
        margin: 0px;
        padding: 40px;
    }

    .form-container, .content-container {
        width: 100%;
        background-color: rgba(0,0,0,0);
    }

    .form-container form {
        width: 100%;
        left: 0px;
        top: 40px;
    }

    .content-container ul {
        padding-inline-start: 2px;
        width: 100%;
    }

    .content-container ul > li {
        margin: 0px;
    }

    .content-container .social-media img
    {
        width: 32px;
        margin: 2px;
    }
}

@media only screen and (max-width: 277px) {
    .projectwork {
        width: 100%;
    }
}