/* Cascading Style Sheets for Jordan Choi - Portfolio V4.0 */
/* General Styles - Apply to all viewports */
body {
    background-color: grey;
    color: #fff;
    overflow-x: hidden;
}

header {
    display: flex;
    border: 1px solid white;
}

header img {
    display: flex;
    width: 150px;
    height: 150px;
    flex-shrink: 3;
    max-width: 150px;
}

nav {
    width: 100%;
    height: auto;
    min-width: 480px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    flex-shrink: 1;
    border: 1px solid blue;
}


h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, 'sans-serif';
}

p {
    font-family: Source Sans Pro, 'sans-serif';
}

.profile {
    background: white url("images/profile-bg-resized-vectorpouchfreepik.jpg") no-repeat fixed center;
    background-size: cover;
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

nav ul {
    list-style-type: none;
    display: inline-block;
}

nav ul li {
    display: inline-block;
}

nav li a {
    text-decoration: none;
    margin: 0px 10px;
    font-size: 14px;
    font-family: Montserrat, 'sans-serif';
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
}


.logo {
    width: 150px;
    height: 100%;
    margin-left: 50px;
}

.dp {
    position: absolute;
    display: flex;
    bottom: 10
}

.biography {
    width: 50%;
    background-color: #ededed;
    color: black;
    padding: 25px 25px 25px 210px;
    border: 1px solid black;
    justify-content: center;
    display: inline-block;
    margin: 0 auto;
}


/* Tablet Styles via Media Query */
@media only screen and (max-width: 768px) {
    nav {
        display: none;
    }

    header {
        justify-content: center;
    }
}


/* Mobile Styles via Media Query */
@media only screen and (max-width: 480px) {
    nav {
        display: none;
    }
    
    body p {
        color: red;
    }
}

/* Temp CSS for ease of edit */
header {
    border: 1px solid red;
}