/* Cascading Style Sheets for Jordan Choi - Portfolio V4.0 */

/* For ease of access and re-use */
.full {
    width: 100vw;
}

.flex {
    display: flex;
}

.overlay {
    background-color: rgba(255,255,255,0.1);
    width: 100vw;
}

button {
    display: none;
}

/* General Styles - Apply to all viewports */

* {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    color: #000;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, 'sans-serif';
    font-weight: 600;
    color: black;
}

p {
    font-family:  Maven Pro, Source Sans Pro, 'sans-serif';
    font-size: 14px;
}

h2 {
    margin-top: 70px;
    padding: 0px 25px 30px 70px;
    color: white;
}

footer {
    height: 60px;
    background-color: #08003E;
    color: #fff;
}

footer p {
    text-align: center;
    line-height: 60px;
    margin-block-start: 0px;
}

.scroll-to-top {
    width: 45px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    background-color: #F4C547;
    position: fixed;
    bottom: 65px;
    right: 39px;
    opacity: 0.3;
    border-radius: 5px;
}

.scroll-to-top:hover {
    opacity: 1;
}

.scroll-to-top img {
    width: 32px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
}

#back-to-top {
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    font-size: 25px;
    margin: auto;
    text-align: center;
}

#back-to-top:active {
    color: black;
}
/* First Section - Profile, with header & nav */
header {
    display: flex;
    padding-top: 10px;
}

.profile {
    /* background: url("images/profile-bg-resized-vectorpouchfreepik.jpg") no-repeat fixed center; */
    background: url("images/bg-test.jpg") no-repeat fixed center;
    background-size: cover;
}

.content {
    justify-content: center;
}

.dp {
    position: absolute;
}

.biography {
    width: 45%;
    background-color: rgba(255,255,255,0.6);
    color: black;
    padding: 25px 45px 25px 120px;
    filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.61));
}

.content ul {
    list-style-type: none;
    display: flex;
    align-self: center;
    padding-bottom: 20px;
}

.content ul li {
    margin: 8px 0px;
}

.social-media img {
    width: 40px;
}

button {
    width: 60px;
    height: 50px;
    position: absolute;
    right: 30px;
    top: 40px;
    background-color: rgba(0,0,0,0);
    border: 1px solid blue;
    z-index: 999;
}

#hamburger {
    width: 45px;
    margin: 0;
}

/* Second Section - Projects */
.projects {
    /* background: url("images/projects-bg-wirestock-freepik.jpg") no-repeat fixed center; */
    background: url("images/dark-illustration-background.jpg") no-repeat fixed center;
    background-size: cover;
}

.project-content {
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 50px;
}

.projectwork {
    width: 23%;
    max-height: 320px;
    min-height: 320px;
    max-width: 320px;
    margin: 5px auto;
    background-color: rgba(255,255,255, 0.8);
    text-align: center;
    color: black;
    padding: 5px;
}

.projectwork h3 {
    font-size: 14px;
}
.projectwork img {
    width: 100%;
}

/* Third Section - Education & Achievements */
.education {
    background: url("images/2620726.jpg") no-repeat fixed center;
    background-size: cover;
    color: white;
}

.education h4 {
    color: white;
}

.edu-content {
    margin-left: 20px;
    margin-right: 20px;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.edu-content div{
    width: 24.5%;
}

.edu-content img {
    width: 100px;
    max-width: 100%;
    height: auto;
}

.achievements {
    justify-content: space-around;
    display: flex;
    text-align: center;
    margin: 50px;
}

.achievements div {
    margin: 10px;
    width: 100%;
}

.achievements h4 {
    font-size: 14px;
}

/* Forth Section - Skills */
.skills-section {
    height: 100vh;
    background: url("images/3417630.jpg") no-repeat fixed center;
    background-size: cover;
}

.box {
    width: 100%;
    background-color: #bdbdbd;
    flex-flow: row wrap;
    border-radius: 2px;
}

.skills-content {
    justify-content: space-around;
    margin: 40px;
    color: white;
    height: 350px;
    align-items: center;
}

.left, .right {
    width: 45%;
}

.skills {
    padding: 0px 10px;
    text-align: right;
    color: #F4C547;
    font-family: Source Sans Pro, 'sans-serif';
    font-size: 12px;
    border-radius: 2px;
}

.html {
    width:80%;
    background-color: #F4C547;
}

.css {
    width: 60%;
    background-color: #F4C547;
}

.js {
    width: 45%;
    background-color: #F4C547;
}

.php {
    width: 25%;
    background-color: #F4C547;
}

.jquery {
    width: 25%;
    background-color: #F4C547;
}

.python {
    width: 55%;
    background-color: #F4C547;
}

.csharp {
    width: 25%;
    background-color: #F4C547;
}

.adobe {
    width: 70%;
    background-color: #F4C547;
}

/* Fifth Section - Employment/Work */
.works {
    background: url("images/2187256.jpg") no-repeat fixed center;
    background-size: cover;
    height: 100vh;
}

.work-contents {
    margin: 40px 40px;
    flex-flow: row nowrap;
    justify-content: center;
}

.works h4 {
    color: black;
}

.work-contents div {
    width: 28%;
    height: 420px;
    margin: 0px 10px;
    padding: 10px;
    text-align: center;
    font-size: .8em;
    background-color: #ededed;
    border-radius: 10px;
    color: black;
    filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.61));
}

.work-contents div > p, ul li {
    text-align: left;
    font-size: 13px;
    font-family: Maven Pro, 'sans-serif';
}

/* Last Section - Contact */
.contact {
    background: url("images/3365930.jpg") no-repeat fixed center;
    background-size: cover;
    height: 100%;
}

.contact-content {
    margin: 40px 70px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.form-container {
    width: 40%;
    background-color: grey;
    height: 450px;
    display: flex;
    margin-right: 10%;
}

.form-container form {
    background-color: white;
    width: 90%;
    height: 300px;
    padding: 20px;
    top: 45px;
    left: 55px;
    position: relative;
    font-family: Maven Pro, 'sans-serif';
    justify-self: center;
    filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.21));
}

input {
    height: 30px;
    width: 40%;
    padding: 5px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #E4E4E4;
    border: none;
}
textarea {
    width: 88%;
    background-color: #e4e4e4;
    margin-left: 2%;
    border: none;
}

#submit, #reset {
    background-color: #08003E;
    color: white;
    width: 42%;
    margin: 2%;
}
.content-container {
    width: 48%;
    color: white;
}

.content-container h3 {
    color: gold;
    font-size: 28px;
}

.content-container ul {
    list-style-type: none;
    display: inline-block;
    margin-top: 40px;
}

.content-container ul li {
    display: inline-block;
    margin: 10px 50px 10px -20px;
}

.content-container a {
    color: white;
    display: inline-block;
    vertical-align: text-top;
    margin-left: 10px;
    margin-top: -10px;
    font-size: 14px;
}

.contact-element {
    height: 40px;
    font-family: Maven Pro, 'sans-serif';
    margin-top: 20px;
}

.contact-element p {
    display: inline-block;
    margin-left: 10px;
    vertical-align: text-bottom;
}

.contact-element img {
    height: 35px;
}
/* Desktop Styles via Media Query */
@media only screen and (min-width: 769px) {
    .content {
        padding-top: 70px;
        display: flex;
        flex-flow: row wrap;
    }

    header img {
        margin-left: 100px;
        width: 130px;
    }

    .dp {
        left: -110px;
        top: 100px;
        width: 25%;
        min-width: 175px;
    }

    .content ul {
        flex-flow: column wrap;
    }
    
    nav {
        width: 100%;
        margin-right: 50px;
        min-width: 480px;
        justify-content: flex-end;
        align-items: center;
        display: flex;
        flex-shrink: 1;
        z-index: 2;
    }
    
    nav ul {
        list-style-type: none;
        display: inline-block;
    }
    
    nav ul li {
        display: inline-block;
    }
    
    nav li a {
        text-decoration: none;
        margin: 0px 10px;
        font-size: 14px;
        font-family: Montserrat, 'sans-serif';
        font-weight: 600;
        height: 25px;
        text-transform: uppercase;
        color: #fff;
        display: inline-block;
    }

    nav li a:hover {
        color: gold;
        border-bottom: 4px solid white;
    }

    /* Section 1 - Profile */
    .profile {
        height: 100vh;
    }

    /* Section 2 - Projects */


    .projects {
        height: 100vh;
    }

    /* Section 3 - Education & Achievements */

    .education {
        height: 100vh;
    }
}


/* Tablet & Mobile Styles via Media Query */
@media only screen and (max-width: 768px) {
    h2 {
        font-size: 16px;
        margin-top: 20px;
        padding: 40px 0px 0px 40px;
 
    }
    nav {
        display: none;
    }

    header {
        justify-content: center;
    }
    header img {
        width: 100px;
    }
    .content {
        flex-flow: column wrap;
        justify-content: center;
        align-items:center;
    }

    .biography h1 {
        margin-top: -40px;
    }

    .dp {
        position: relative;
        display: flex;
        width: 150px;
        /* right: -20px;
        top: -60px; */
        margin: 0 auto;
        top: -50px;
    }

    .content ul {
        justify-content: center;
        padding-left: 0px;
    }
    .content ul li {
        margin: 10px 8px;
    }

    /* Section 1 - Profile */
    .profile {
        height: 100%;
    }

    .biography {
        width: 80%;
        padding: 20px;
        margin-top: 40px;
        margin: 45px auto 5px auto;
        text-align: center;
    }

    /* Section 2 - Projects */

    .projects {
        height: 100%;
    }
    .projectwork {
        width: 46%;
    }

    .project-content {
        padding: 15px 10px 50px 10px;
    }

    /* Third Section - Education & Achievements */
    .edu-content {
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        text-align: center;
    }

    .edu-content div{
        width: 100%;
    }

    .edu-content img {
        width: 100%;
        max-width: 130px;
        height: auto;
    }

    .achievements {
        justify-content: space-around;
        flex-flow: row wrap;
        display: flex;
        text-align: center;
    }

    .achievements div {
        width: 100%;
    }

    .achievements h4 {
        font-size: 14px;
    }

    /* Forth Section - Skills */

    .skills-content {
        flex-flow: row wrap;
    }
    .left, .right {
        width: 100%;
    }

    /* Fifth Section - Works */
    .works {
        height: 100%;
    }
    .work-contents {
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 0px;
        margin-bottom: 40px;
    }

    .work-contents div {
        width: 60%;
        padding: 40px;
        height: 100%;
        margin: 10px;
    }

    /* Last Section - Contact */
    .contact {
        height: 100%;
    }

    .contact-content {
        flex-flow: column wrap;
        justify-content: space-around;
    }

    .form-container, .content-container {
        width: 100%;
        background-color: rgba(0,0,0,0);
    }

    .form-container form {
        width: 100%;
        left: 0px;
        top: 40px;
    }
    .content-container ul {
        padding-inline-start: 2px;
        width: 100%;
    }
    
    .content-container .social-media img
    {
        width: 30px;
        margin: 2px;

    }
}